@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* BOTONES*/
.btn {
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    border: 1px solid #000;
}

/* INPUTS Y LABELS */
.input-base {
    margin: 5px 0px 20px 0px;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    border: 1px solid #000;
}

.plus-logo {
    width: 15px;
}

.input-login {
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.back-btn {
    background-color: #E4CEF2;
}

.omitir-btn {
    background-color: #F0E6DC;
}

.dnd {
    border: 3px dashed black;
    border-radius: 20px;
    padding: 30px;
    background-color: #E4CEF2;
}

.sig-btn {
    background-color: #9C71D9;
}

.file {
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    border-radius: 10px;
}


/* SEARCH LAYOUT */
.search {
    background-color: #CACD7F;
    color: #000;
    font-family: 'Inter Tight';
}
    .search::placeholder {
        font-family:'Inter Tight';
        font-weight: 600;
        color: #000;
    }

.footer-icon {
    border-radius: 50%;
    background-color: #af8ce0;
    box-shadow: 
        3.5px 1.2px #c3a9e8, 
        -2px -2px #c3a9e8,
        1px -1px #c3a9e8,
        -3.5px 1px #c3a9e8;
    padding: 3px;
}

.facebook {
    fill: white;
    stroke: none;
}