.list-chats {
    display: grid; 
    grid-template-columns: 0.8fr 1.2fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img name name"
      "img message message"; 
    height: 100px;
    padding: 5px 10px 10px 10px;
}

.img-chat-grid { 
    grid-area: img; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-chat-grid img{
    width: 78px;
    height: 78px;
}

.name-chat-grid { 
    grid-area: name; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.message-chat-grid { 
    grid-area: message; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-chat-user {
    width: 70px;
    height: 70px;
}

.name-chat-user {
    font-size: 20px;
    margin-left: 10px;
}

.text-area-message{
    field-sizing: content;
    width: calc(90vw - 70px);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    max-height: 130px;
}



















  .notification-container{
    width: 100%;
  }

  
  .notification {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: fit-content;
    min-width: 150px;
    max-width: 500px;
    height: fit-content;
    background: #a28fba;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #ffffff, #fff);
    --color: #505050;
    padding: 0 0 5px 0;
  }

  .mine {
    float: right;
    --gradient: linear-gradient(to bottom, #ee2eff, #e83dff, #ff61dd);
    --color: #ff3287;
  }
  
  .notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #CCB5EB;
    z-index: 2
  }

  .mine {
    background-color: #cecece;
  }
  
  .notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .mine::before{
    background-color: #f2f2f2;
  }

  .notification:hover:after {
    transform: translateX(0.15rem)
  }
  
  .notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: black;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }

  .notitime {
    color: #2c2c2c;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
    margin-top: 10px;
    font-size: 12px;
  }

  .notification:hover .notitime {
    transform: translateX(0.25rem)
  }
  
  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .notiglow {
    z-index: 3;
  }
  
  .notiborderglow {
    z-index: 1;
  }
  
  .notification:hover .notiglow {
    opacity: 0.1
  }
  
  .notification:hover .notiborderglow {
    opacity: 0.1
  }
  